<!DOCTYPE html>
<html>
    <head>
        <title>Vue</title>
    </head>
    <body>
        <div id="app">
            <h1>{{ message }}</h1>
            <h1>{{ count }}</h1>
            <table>
                <tr>
                    <td>
                        <label>姓名：</label>
                        <input type="text" v-model="search.name">
                        <label>年龄：</label>
                        <select v-model="search.age">
                            <option value=""></option>
                            <option value="25">25</option>
                        </select>
                        <button>搜索</button>
                        <button>清空</button>
                    </td>
                </tr>
            </table>
            <table>
                <tbody>
                    <!-- v-for 指令用于遍历数组或对象, 插值表达式, 循环语句 -->
                    <tr v-for="(item, index) in namelist" :key="item.id">
                        <td>{{index+1}}</td>
                        <td>{{item.name}}</td>
                        <td><img v-bind:src="item.pic" alt="cannot load image" width="100px" height="50px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js';
            createApp({
                data() {
                    return {
                        //搜索条件
                        search:{
                            name: '',
                            age: ''
                        },
                        message: '你好，Vue！',
                        count: 0,
                        namelist: []
                    }
                },
                async created() {
                    const response = await fetch('./data/namelist.json');
                    const json = await response.json();
                    this.namelist = json.namelist;
                }
            }).mount('#app');
        </script>
    </body>
</html>